body{
    width: 600px;
    height: 750px;
    border: 1px solid;
    left:0;
    right:0;
    margin: 1rem auto;
}
a{
    cursor: pointer;
}

button{
    padding: .7rem;
    background-color: rgb(246, 176, 48);
    border: none;
    border-radius: 1rem;
    margin: 1rem;
}
#btn-input{
    display:flex;
    justify-content: space-around;
    padding: 5rem;
}